#!/usr/bin/make -f

VER=201505

ifeq (${DEB_HOST_ARCH},linux-amd64)
    URL=http://energia.nu/files/msp430_tools_linux64_05_2015.tar.bz2
	ARCHEXT=tar.bz2
	EXTRACT=tar -C tmp -jxf
endif

ifeq (${DEB_HOST_ARCH},linux-i386)
    URL=http://energia.nu/files/msp430_tools_linux32_05_2015.tar.bz2
	ARCHEXT=tar.bz2
	EXTRACT=tar -C tmp -jxf
endif

ifeq (${DEB_HOST_ARCH},linux-armhf)
	echo Error: Architecture not supported
	exit 10
endif

ifeq (${DEB_HOST_ARCH},linux-armel)
	echo Error: Architecture not supported
	exit 10
endif

ifeq (${DEB_HOST_ARCH},windows-i386)
    URL=http://energia.nu/files/msp430_tools_windows_05_2015.zip
	ARCHEXT=zip
	EXTRACT=unzip -d tmp
endif

ifeq (${DEB_HOST_ARCH},windows-amd64)
    URL=http://energia.nu/files/msp430_tools_windows_05_2015.zip
	ARCHEXT=zip
	EXTRACT=unzip -d tmp
endif

ifeq (${DEB_HOST_ARCH},darwin-amd64)
    URL=http://energia.nu/files/msp430_tools_mac_05_2015.zip
	ARCHEXT=zip
	EXTRACT=unzip -d tmp
endif


TOOLS_COMMON_linux-amd64=http://energia.nu/files/tools-common-linux64.tar.bz2
TOOLS_ARM_linux-amd64=http://energia.nu/files/arm_tools_linux64.tar.bz2
TOOLS_MSP430_linux-amd64=http://energia.nu/files/msp430_tools_linux64_05_2015.tar.bz2

CLOSURE_EMT=http://energia.nu/files/closure-emt-b07.tar.gz

%:
	dh $@

override_dh_strip:
override_dh_perl:
override_dh_installdocs:
override_dh_installchangelogs:
override_dh_link:
override_dh_compress:
override_dh_fixperms:
override_dh_makeshlibs:
override_dh_shlibdeps:

override_dh_auto_build:
	wget -c -O ../../downloads/msp430-tools-${DEB_HOST_ARCH}-${VER}.${ARCHEXT} ${URL}
	rm -rf tmp
	mkdir -p tmp
	${EXTRACT} ../../downloads/msp430-tools-${DEB_HOST_ARCH}-${VER}.${ARCHEXT}

override_dh_auto_clean:
	rm -rf tmp

override_dh_auto_install:
	mkdir -p debian/msp430-gcc/compilers/
	cp -RL tmp/msp430 debian/msp430-gcc/compilers/msp430-gcc
	cp debian/uecide/compiler.txt debian/msp430-gcc/compilers/msp430-gcc

