#!/usr/bin/make -f

VER=7.3.1.24
URL_ROOT=http://software-dl.ti.com/msp430/msp430_public_sw/mcu/msp430/MSPGCC/latest/exports
SUPVER=1.205

ifeq (${DEB_HOST_ARCH},linux-amd64)
	ARCHEXT=tar.bz2
    ARCH=linux64
	EXTRACT=tar -C tmp -jxf
endif

ifeq (${DEB_HOST_ARCH},linux-i386)
	ARCHEXT=tar.bz2
    ARCH=linux32
	EXTRACT=tar -C tmp -jxf
endif

ifeq (${DEB_HOST_ARCH},linux-armhf)
	echo Error: Architecture not supported
	exit 10
endif

ifeq (${DEB_HOST_ARCH},linux-armel)
	echo Error: Architecture not supported
	exit 10
endif

ifeq (${DEB_HOST_ARCH},windows-i386)
	ARCHEXT=zip
    ARCH=win32
	EXTRACT=unzip -d tmp
endif

ifeq (${DEB_HOST_ARCH},windows-amd64)
	ARCHEXT=zip
    ARCH=win64
	EXTRACT=unzip -d tmp
endif

ifeq (${DEB_HOST_ARCH},darwin-amd64)
	ARCHEXT=tar.bz2
    ARCH=macos
	EXTRACT=tar -C tmp -jxf
endif

%:
	dh $@

override_dh_strip:
override_dh_perl:
override_dh_installdocs:
override_dh_installchangelogs:
override_dh_link:
override_dh_compress:
override_dh_fixperms:
override_dh_makeshlibs:
override_dh_shlibdeps:

override_dh_auto_build:
	wget -c -O ../../downloads/msp430-gcc-${DEB_HOST_ARCH}-${VER}.${ARCHEXT} ${URL_ROOT}/msp430-gcc-${VER}_${ARCH}.${ARCHEXT}
	wget -c -O ../../downloads/msp430-gcc-support-files-${SUPVER}.zip ${URL_ROOT}/msp430-gcc-support-files-${SUPVER}.zip
	rm -rf tmp
	mkdir -p tmp
	${EXTRACT} ../../downloads/msp430-gcc-${DEB_HOST_ARCH}-${VER}.${ARCHEXT}
	unzip -d tmp ../../downloads/msp430-gcc-support-files-${SUPVER}.zip

override_dh_auto_clean:
	rm -rf tmp

override_dh_auto_install:
	mkdir -p debian/msp430-gcc/compilers/msp430-gcc
	mkdir -p debian/msp430-gcc/compilers/msp430-gcc/msp430-elf/include/msp430
	cp -RL tmp/msp430-gcc-${VER}_${ARCH}/* debian/msp430-gcc/compilers/msp430-gcc
	cp -RL tmp/msp430-gcc-support-files/include/* debian/msp430-gcc/compilers/msp430-gcc/msp430-elf/include/msp430/
	cp debian/uecide/compiler.txt debian/msp430-gcc/compilers/msp430-gcc

